<!-- templates/sonos_table.html -->
<div th:fragment="table">
    <table class="table table-bordered table-striped align-middle">
        <thead class="table-dark">
            <tr>
                <th>IP</th>
                <th>Room Name</th>
                <th>Model</th>
                <th>MAC</th>
                <th>Latency</th>
                <th>Software</th>
                <th>Hardware</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="device : ${devices}">
                <td th:text="${device['IP']}"></td>
                <td th:text="${device['Room Name']}"></td>
                <td th:text="${device['Model']}"></td>
                <td th:text="${device['MAC Address']}"></td>
                <td th:text="${device['Latency']}"></td>
                <td th:text="${device['Software Version']}"></td>
                <td th:text="${device['Hardware Version']}"></td>
            </tr>
        </tbody>
    </table>
</div>
